<ul class="navbar-nav ml-auto text-uppercase font-weight-bold">
  <li class="nav-item mx-xl-5 mx-lg-3">
    <a class="nav-link text-white" href="#über-uns">
      Über uns
    </a>
  </li>
  <li class="nav-item mx-xl-5 mx-lg-3">
    <a class="nav-link text-white" href="#Angebot">
      Angebot
    </a>
  </li>
  <li class="nav-item mx-xl-5 mx-lg-3">
    <a class="nav-link text-white" href="#Projekte">
      Projekte
    </a>
  </li>
  <li class="nav-item mx-xl-5 mx-lg-3">
    <a class="nav-link text-white" href="#Referenzen">
      Referenzen
    </a>
  </li>
  <li class="nav-item mx-xl-5 mx-lg-3">
    <a class="nav-link text-white" href="#Kontakt">
      Kontakt
    </a>
  </li>
</ul>
