---
---

@charset "utf-8";

@import "overrides";
@import "montserrat";
@import "bootstrap/bootstrap";

.navbar-dark path {
    fill: white;
    stroke: white;
}

#tytul {
    height: 700px;
    background: url(../assets/images/bg1.png), #221F20;
    background-repeat: no-repeat;
    background-size: cover;
}

#o-nas {
    background: linear-gradient(white 40%, #EEB6B6 40%);
}

#biuro {
    background: url(../assets/images/bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1200px;
}

#oferta {
    background: url(../assets/images/bg3.png), #221F20;
    background-repeat: no-repeat;
    background-size: cover;

    .list-group-item {
        font-size: 1.25rem;
        background: transparent;
    }
}

#referencje {
    background: url(../assets/images/bg4.png), #221F20;
    background-repeat: no-repeat;
    background-size: cover;
}
