<ul class="navbar-nav ml-auto text-uppercase font-weight-bold">
  <li class="nav-item mx-xl-5 mx-lg-3">
    <a class="nav-link text-white" href="#o-nas">
      O nas
    </a>
  </li>
  <li class="nav-item mx-xl-5 mx-lg-3">
    <a class="nav-link text-white" href="#oferta">
      Oferta
    </a>
  </li>
  <li class="nav-item mx-xl-5 mx-lg-3">
    <a class="nav-link text-white" href="#projekty">
      Projekty
    </a>
  </li>
  <li class="nav-item mx-xl-5 mx-lg-3">
    <a class="nav-link text-white" href="#referencje">
      Referencje
    </a>
  </li>
  <li class="nav-item mx-xl-5 mx-lg-3">
    <a class="nav-link text-white" href="#kontakt">
      Kontakt
    </a>
  </li>
</ul>
