$font-family-sans-serif: Montserrat;
$line-height-base: 2;

$info: #94E9CA;
$dark: #221F20;

$btn-padding-y: 1rem;
$btn-padding-x: 2rem;
$btn-font-size: 0.75rem;
$border-radius: 0;
$btn-font-weight: 700;

$carousel-transition: none;

$tooltip-max-width: 400px;
