---
---

@charset "utf-8";

@import "overrides";
@import "montserrat";
@import "bootstrap/bootstrap";

.navbar-dark path {
    fill: white;
    stroke: white;
}

#tytul {
    height: 700px;
    background: url(../images/bg1.png), #221F20;
    background-repeat: no-repeat;
    background-size: cover;
}

#o-nas {
    background: linear-gradient(white 25%, #EEB6B6 25%);
}

#biuro {
    background: url(../images/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1200px;
}

#oferta {
    background: url(../images/bg3.png), #221F20;
    background-repeat: no-repeat;
    background-size: cover;

    .list-group-item {
        font-size: 1.25rem;
        background: transparent;
    }
}

#projekty {
    background: url(../images/bg4.jpg), #221F20;
    background-repeat: no-repeat;
    background-size: cover;
}

#referencje {
    background: url(../images/bg5.png), #221F20;
    background-repeat: no-repeat;
    background-size: cover;
}

#carousel {
    .carousel-item {
        display: block;
        visibility: hidden;

        &.active {
            visibility: visible;
        }
    }
}

#carousel-nav {
    height: 400px;
    position: relative;
    overflow: hidden;

    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 500 500'><path d='M0 499 L499 0 L500 1 L1 500' fill='black' /></svg>");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%, auto;
}
