<!doctype html>
<html lang="{{ page.locale }}">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="./assets/css/style.css">
    <script src="./assets/js/jquery-3.5.1.min.js"></script>
    <script src="./assets/js/bootstrap.bundle.min.js"></script>
    <script src="./assets/js/app.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
  </head>
  <body>
    <header id="tytul" class="p-5 container-fluid">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/">
          {% include svg/logo.svg %}
        </a>

        {% if page.locale == "pl" %}{% include pl/menu.html %}{% endif %}
        {% if page.locale == "de" %}{% include de/menu.html %}{% endif %}
      </nav>

      <div class="row h-100">
        <div class="col offset-xl-6 offset-lg-6 align-self-center">
          {% if page.locale == "pl" %}{% include pl/title.html %}{% endif %}
          {% if page.locale == "de" %}{% include de/title.html %}{% endif %}
        </div>
      </div>
    </header>

    {{ content }}

    <footer class="container-fluid p-5 text-muted text-center">
      {% if page.locale == "pl" %}{% include pl/footer.html %}{% endif %}
      {% if page.locale == "de" %}{% include de/footer.html %}{% endif %}
    </footer>
  </body>
</html>
