<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="./assets/css/style.css">
    <script src="./assets/js/jquery-3.5.1.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
    <script src="./assets/js/app.js"></script>
  </head>
  <body>
    <header id="tytul" class="p-5 container-fluid">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/">
          {% include svg/logo.svg %}
        </a>

        <ul class="navbar-nav ml-auto text-uppercase font-weight-bold">
          <li class="nav-item mx-xl-5 mx-lg-3">
            <a class="nav-link text-white" href="#o-nas">
              O nas
            </a>
          </li>
          <li class="nav-item mx-xl-5 mx-lg-3">
            <a class="nav-link text-white" href="#oferta">
              Oferta
            </a>
          </li>
          <li class="nav-item mx-xl-5 mx-lg-3">
            <a class="nav-link text-white" href="#referencje">
              Referencje
            </a>
          </li>
          <li class="nav-item mx-xl-5 mx-lg-3">
            <a class="nav-link text-white" href="#kontakt">
              Kontakt
            </a>
          </li>
        </ul>
      </nav>

      <div class="row h-100">
        <div class="col offset-xl-6 offset-lg-6 align-self-center">
          <h2 class="text-white h1">Kulturopracownia.</h2>
          <h2 class="text-white h1">Czytanie zmieniającego się świata</h2>
          <h2 class="text-info h1">_____</h2>
        </div>
      </div>
    </header>

    <section id="o-nas" class="container-fluid p-5 position-relative">
      <div class="bg-dark text-white p-5 row">
        <div class="col-xl col-lg col-md align-self-center">
          <h3 class="h1 text-center my-5">O nas</h3>
        </div>
        <div class="col-xl col-lg col-md">
          <p>
            Jesteśmy polsko-niemieckim małżeństwem i partnerami
            zawodowymi. Dostrzegamy różnorodne możliwości i szanse,
            które wynikają z bliskości i powiązań Niemiec i
            Polski. Przez wiele lat żyliśmy i pracowaliśmy w
            Niemczech, w 2011 roku przyszedł czas na Polskę. Niemniej
            granice są otwarte – co ułatwia współpracę i tworzenie
            wartościowych projektów między krajami. Pracujemy
            interdyscyplinarnie w obszarach kultury, mediów i
            edukacji.
          </p>

          <p class="my-5">
            <em>
              Zapraszamy do współpracy. <br>
              Katarzyna Opielka &amp; Jan Opielka
            </em>
          </p>

          <a href="#kontakt" class="btn btn-light text-uppercase mr-3 my-3">Skontaktuj się</a>
          <a href="javascript:undefined" class="btn btn-outline-info text-uppercase my-3">Nasze projekty</a>
        </div>
      </div>

      <div class="row p-5">
        <div id="carousel-nav" class="col-xl-4 col-lg-6 offset-xl-1 row align-self-end no-gutters p-0">
          <div class="col align-self-start">
            <a href="javascript:undefined" data-target="#carousel" data-slide-to="0" class="h1 text-dark">Kultura <br> i edukacja</a>
          </div>
          <div class="col align-self-end text-right">
            <a href="javascript:undefined" data-target="#carousel" data-slide-to="1" class="h1 text-muted">Publicystyka <br> i poezofia</a>
          </div>
        </div>
        <div id="carousel" class="carousel col-xl-6 col-lg-6 offset-xl-1" data-ride="carousel" data-interval="30000">
          <div class="carousel-inner my-sm-5 my-xs-5 my-md-0 my-lg-0 my-xl-0">
            <div class="carousel-item active">
              <div class="d-flex mb-5">
                <img src="./assets/images/kasia.jpg" width="100" height="100" class="img rounded-circle bg-dark mr-5"></img>
                <div class="align-self-center">
                  <h6 class="h5 font-weight-bold">Katarzyna Opielka</h6>
                  <small class="text-uppercase">Menedżerka projektów, edukatorka</small>
                </div>
              </div>

              <div>
                Jestem menedżerką i autorką projektów kulturalnych,
                edukatorką a z wykształcenia socjolożką oraz nauczycielką
                języka niemieckiego. Pogłębiona edukacja, otwarcie się na
                drugiego człowieka, poszukiwanie w różnorodności i
                nieoczywistych kontekstach wspólnych nici porozumienia a
                do tego szczypta humoru – to dla mnie punkt wyjścia we
                współpracy z innymi. Tworzę projekty związane z szeroko
                pojętą kulturą i filozofią codzienności – są dla mnie
                inspiracją na wielu płaszczyznach. Na co dzień
                współpracuję ze szkołami, instytucjami kultury, ośrodkami
                edukacyjnymi i badawczymi, organizacjami pozarządowymi
                oraz podmiotami komercyjnymi w Polsce oraz z
                zagranicą. Ponadto prowadzę autorskie warsztaty o
                tematyce.: wielokulturowość, akceptacja i integracja
                różnorodności kulturowej, religijnej i językowej, prawa
                człowieka, polsko-niemiecka współpraca,
                polsko-żydowsko-niemieckie dziedzictwo kulturowe, oraz
                specyfiki regionów pogranicza. Prowadząc warsztaty wyznaję
                m.in. zasadę chińskiego filozofa Konfucjusza „Powiedz mi,
                a zapomnę, pokaż mi, a zapamiętam, pozwól mi zrobić, a
                zrozumiem”. Żyjąc i odkrywając Śląsk od czasu do czasu
                wcielam się w rolę przewodniczki nie tylko odwiedzanych
                przez turystów i podróżnych popularnych miejsc tego
                wielokulturowego regionu, ale również tych nieoczywistych
                zakątków, znanych może tylko pasjonatom lokalnej
                historii. Pozyskuję również środki finansowe do realizacji
                społecznie i kulturowo ciekawych projektów zarówno w
                Polsce jak i zagranicą. Bla bla bla.
              </div>
            </div>
            <div class="carousel-item">
              <div class="d-flex mb-5">
                <img src="./assets/images/jan.jpg" width="100" height="100" class="img rounded-circle bg-dark mr-5"></img>
                <div class="align-self-center">
                  <h6 class="h5 font-weight-bold">Jan Opielka</h6>
                  <small class="text-uppercase">Publicysta i dziennikarz</small>
                </div>
              </div>

              <div>
                Jestem publicystą i dziennikarzem. Zajmuję się szeroko
                pojętą polityką, kulturą życia codziennego, społeczeństwem
                i jego wielobarwnością. Piszę dla niemiecko- o
                polskojęzycznych mediów prasowych, tworzę audycje radiowe,
                opowiadam podczas publicznych dyskusji i wykładów. I na
                internetowych podcastach. Ukończyłem studia polityki i
                anglistyki na kierunku nauczycielstwa – jednak to polityka
                i pisanie mnie wciągnęły.  Czym się kieruję w swojej pracy
                publicystyczno-publicznej? Staram się trzymać etosu
                dziennikarskiego, którego najkrótszy opis dał niegdyś
                niemiecki publicysta i założyciel magazynu Der Spiegel,
                Rudolf Augstein: „Pisać, jak jest.” Niby łatwe w
                realizacji, jednak rzeczywistość jest skomplikowana, bo:
                Co jest? Jak jest? I co z tego, co jest widoczne i realne,
                jest również istotne? W rzeczywistości medialnej czy
                publicystycznej z tych pytań wielowątkowość, konieczność
                patrzenia na tę samą sprawę czy temat z różnych
                perspektyw, i dopuszczenie denerwującego zwrotu: „Tak,
                ale…”
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="biuro" class="container-fluid d-none d-xl-block d-lg-block">
    </section>

    <section id="oferta" class="container-fluid p-5 text-white">
      <div class="row">
        <div class="col-xl-4 offset-xl-1 col-lg-6 col-md-6">
          <h3 class="h1 mb-5">Oferta</h3>

          <ul class="list-group list-group-flush">
            <li class="list-group-item border-white">Tłumaczenia polsko-niemieckie</li>
            <li class="list-group-item border-white">Język niemiecki na codzień</li>
            <li class="list-group-item border-white">Język niemiecki w zawodzie i biznesie</li>
            <li class="list-group-item border-white">Praca z mikrofonem</li>
            <li class="list-group-item border-white">Projekt szyty na miarę</li>
            <li class="list-group-item border-white">Praca z piórem</li>
            <li class="list-group-item border-white">Wakacje z kulturą</li>
          </ul>
        </div>
        <div class="col-xl-4 offset-xl-1 col-lg-6 col-md-6 align-self-center">
          <div class="bg-dark m-5 p-5">
            <h4 class="mb-5"><b>Porozmawiajmy o Twoim pomyśle!</b></h4>
            <a href="#kontakt" class="btn btn-outline-light text-uppercase">Skontaktuj się</a>
          </div>
        </div>
      </div>
    </section>

    <section id="referencje" class="container-fluid p-5">
      <div class="d-flex mb-5">
        <h3 class="h1">Referencje</h3>
        <hr class="border-dark align-self-center flex-grow-1 ml-5">
      </div>
      <ul class="bg-dark text-white p-5 list-unstyled card-columns">
        <li class="card bg-dark border-0">VHS Marburg</li>
        <li class="card bg-dark border-0">Studienkolleg Marburg e.V.</li>
        <li class="card bg-dark border-0">Muzeum w Gliwicach</li>
        <li class="card bg-dark border-0">Muzeum Miejskie w Żorach</li>
        <li class="card bg-dark border-0">Gliwickie Centrum Organizacji Pozarządowych</li>
        <li class="card bg-dark border-0">Spółdzielnia Mieszkaniowa „Stare Łabędy”</li>
        <li class="card bg-dark border-0">Zespół Szkół FILOMATA</li>
        <li class="card bg-dark border-0">DGB Bildungswerk Hessen</li>
        <li class="card bg-dark border-0">Clean Energy Wire (CLEW)</li>
        <li class="card bg-dark border-0">Domu Współpracy Polsko-Niemieckiej</li>
        <li class="card bg-dark border-0">Fundacja Współpracy Polsko-Niemieckiej</li>
        <li class="card bg-dark border-0">Niemiecki Instytut Polski</li>
        <li class="card bg-dark border-0">Freitag</li>
        <li class="card bg-dark border-0">Frankfurter Rundschau</li>
        <li class="card bg-dark border-0">Berliner Zeitung</li>
        <li class="card bg-dark border-0">Jüdische Allgemeine</li>
        <li class="card bg-dark border-0">Publik Forum</li>
        <li class="card bg-dark border-0">Wochenzeitung (Szwajcaria)</li>
        <li class="card bg-dark border-0">Furche (Austria)</li>
        <li class="card bg-dark border-0">Dzienniku Opinii (Krytyka Polityczna)</li>
        <li class="card bg-dark border-0">tygodnik Przegląd</li>
        <li class="card bg-dark border-0">miesięcznik Charaktery</li>
        <li class="card bg-dark border-0">magazyn muzyczny Lizard</li>
        <li class="card bg-dark border-0">portalu Nowy Obywatel</li>
      </ul>
    </section>

    <section id="kontakt" class="container-fluid p-5">
      <div class="row">
        <div class="col-xl col-lg col-md d-flex flex-column justify-content-center">
          <h3 class="h1 text-center">Kontakt</h3>
        </div>
        <div class="col-xl col-lg col-md">
          <h4 class="text-uppercase h6 mt-5">Napisz do nas</h4>
          <a href="mailto:info@communication-opielka.com" class="text-dark font-weight-bold">info@communication-opielka.com</a>
          <div class="row mt-5">
            <div class="col">
              <h5 class="h6 font-weight-bold">Jan Opielka</h5>
              <a href="tel:+48660431670" class="text-dark">Tel. +48 660 431 670</a><br>
              <a href="https://www.linkedin.com/in/jan-opielka-5b89638/" class="text-dark">LinkedIn</a><br>
              <a href="http://poezofia8.blogspot.com/" class="text-dark">Blog</a>
            </div>
            <div class="col">
              <h5 class="h6 font-weight-bold">Katarzyna Opielka</h5>
              <a href="tel:+48722092605" class="text-dark">Tel. +48 722 092 605</a><br>
              <a href="https://www.linkedin.com/in/katarzyna-opielka/" class="text-dark">LinkedIn</a><br>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer>
    </footer>
  </body>
</html>
