<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>
    <header class="header p-5">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/">
          {% include svg/logo.svg %}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto text-uppercase font-weight-bold">
            <li class="nav-item m-5">
              <a class="nav-link text-white" href="#o-nas">
                O nas
              </a>
            </li>
            <li class="nav-item m-5">
              <a class="nav-link text-white" href="javascript:undefined">
                Oferta
              </a>
            </li>
            <li class="nav-item m-5">
              <a class="nav-link text-white" href="javascript:undefined">
                Referencje
              </a>
            </li>
            <li class="nav-item m-5">
              <a class="nav-link text-white" href="javascript:undefined">
                Kontakt
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="row">
        <div class="col"></div>
        <div class="col">
          <h2 class="text-white h1">Kulturopracownia.</h2>
          <h2 class="text-white h1">Czytanie zmieniającego się świata</h2>
          <h2 class="text-white h1">_____</h2>
        </div>
      </div>
    </header>

    <section class="about p-5">
      <div class="row bg-dark text-white p-5">
        <div class="col">
          <h3 id="o-nas" class="h1">O nas</h3>
        </div>
        <div class="col">
          <p>
            Jesteśmy polsko-niemieckim małżeństwem i partnerami
            zawodowymi. Dostrzegamy różnorodne możliwości i szanse,
            które wynikają z bliskości i powiązań Niemiec i
            Polski. Przez wiele lat żyliśmy i pracowaliśmy w
            Niemczech, w 2011 roku przyszedł czas na Polskę. Niemniej
            granice są otwarte – co ułatwia współpracę i tworzenie
            wartościowych projektów między krajami. Pracujemy
            interdyscyplinarnie w obszarach kultury, mediów i
            edukacji.
          </p>

          <p class="my-5">
            Zapraszamy do współpracy. <br>
            Jan Opielka &amp; Katarzyna Opielka
          </p>

          <a href="javascript:undefined" class="btn btn-light text-uppercase">Skontaktuj się</a>
          <a href="javascript:undefined" class="btn btn-outline-info text-uppercase">Nasze projekty</a>
        </div>
      </div>

      <div class="row p-5">
        <div class="col">
          <h3 class="h1">Kultura i edukacja</h3>
        </div>
        <div class="col">
          <img src="/assets/images/face1.png" width="100" height="100" class="img rounded-circle"></img>
          <strong>Katarzyna Opielka</strong>
          Menedżer Kultury
          <p>
            Jestem menedżerką i autorką projektów kulturalnych,
            edukatorką a z wykształcenia socjolożką oraz nauczycielką
            języka niemieckiego. Pogłębiona edukacja, otwarcie się na
            drugiego człowieka, poszukiwanie w różnorodności i
            nieoczywistych kontekstach wspólnych nici porozumienia a
            do tego szczypta humoru – to dla mnie punkt wyjścia we
            współpracy z innymi. Tworzę projekty związane z szeroko
            pojętą kulturą i filozofią codzienności – są dla mnie
            inspiracją na wielu płaszczyznach. Na co dzień
            współpracuję ze szkołami, instytucjami kultury, ośrodkami
            edukacyjnymi i badawczymi, organizacjami pozarządowymi
            oraz podmiotami komercyjnymi w Polsce oraz z zagranicą.
          </p>
        </div>
      </div>
    </section>

    <section class="offer p-5 text-white">
      <h3 class="h1">Oferta</h3>
      <div class="row">
        <div class="col-6">
          <ul class="list-unstyled">
            <li class="border-bottom">Tłumaczenia polsko-niemieckie</li>
            <li class="border-bottom">Język niemiecki na codzień</li>
            <li class="border-bottom">Język niemiecki w zawodzie i biznesie</li>
            <li class="border-bottom">Praca z mikrofonem</li>
            <li class="border-bottom">Projekt szyty na miarę</li>
            <li class="border-bottom">Praca z piórem</li>
            <li>Wakacje z kulturą</li>
          </ul>
        </div>
        <div class="col-3 offset-1">
          <div class="bg-dark p-5">
            <h4>Porozmawiajmy o Twoim pomyśle!</h4>
            <a href="javascript:undefined" class="btn btn-outline-light text-uppercase">Skontaktuj się</a>
          </div>
        </div>
      </div>
    </section>

    <footer>
    </footer>
  </body>
</html>
